<div class="show">
    <h1 class="show-title">ユーザー情報</h1>
        <table class="show-table">
            <tr>
                <th class="show-item">名前</th>
                <td class="show-body"><%= @user.name %></td>
            </tr>
            <tr>
                <th class="show-item">メールアドレス</th>
                <td class="show-body"><%= @user.email %></td>
            </tr>
            <tr>
                <th class="show-item">住所</th>
                <td class="show-body"><%= @user.address %></td>
            </tr>
            <tr>
                <th class="show-item">電話番号</th>
                <td class="show-body"><%= @user.number %></td>
            </tr>
        </table>
    <%= link_to '編集する' , edit_user_path, class: "show-edit" %>

    <%= link_to 'ホームへ戻る', products_path, class: "show-back" %>

</div>



