
<table class="show-table">
    <tr>
        <th>名前</th>
        <td><%= @user.name %></td>
    </tr>
    <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
    </tr>
    <tr>
        <th>住所</th>
        <td><%= @user.address %></td>
    </tr>
    <tr>
        <th>電話番号</th>
        <td><%= @user.number %></td>
    </tr>
</table>
</body>

<%= link_to '編集する' , edit_user_path %>

<p><%= link_to 'ホームへ戻る', products_path %></p>

