<%= form_for @product, action: :create do |f| %>
<p>
  <%= f.label :title, '名前' %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :price, '値段' %>
  <%= f.text_field :price %>
</p>
<p>
  <%= f.label :description, '説明' %>
  <%= f.text_field :description %>
</p>
<p>
  <%= f.label :image, '画像' %>
  <%= f.file_field :image %>
</p>



  <%= f.submit "登録"%>

<% end %>
</br>
<%= link_to '戻る' , "/products" %>


